* {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 3rem auto; 
    color: white;
    background-color: black;
}

img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
}

  nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
  
#top-menu a:hover {
    background-color: var(--sub-menu-bg);
}

#page-container {
    position: relative;
    min-height: 50vh;
}

#page-container1 {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 1.5rem;    
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;           
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}

input[type=submit]:hover, button:hover {
  background-color: gold;
}

.container {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
}

textarea, #fname, #lname, #email, #subject {
    color: black
}

button {
    background-color: black;
    color: white;
    cursor: pointer;

}
#pages, #port, #contact, #from {
    padding: 0px 20px;
}
